@font-face { font-family: Simplifica; src: url('SIMPLIFICA\ Typeface.ttf'); } 

body {
    background-color: rgba(219, 246, 248, 0.829);
}

h2{
    font-family: simplifica;
}

.red{
    color: red;
    font-size: 30px;
}



.dot4 > img {
        float: left;
        width: 500px;
        height: 500px;
        margin-right: 100px;
        margin-left: 100px;
        margin-top: 10px;
}

 img.buy {
      width: 120px;
      height: 100px;
      margin-left: 100px;
      border-radius: 15px;

}    

 img.addtocart {
      width: 100px;
      height: 100px;
       border-radius: 15px;
 }

 footer{
     margin-top: 20rem;
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    color: black;
}